@model Lettings.Web.Mvc.Controllers.ViewModels.LoginModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm("Login", "Authentication")){
    <fieldset>
    <legend>Log in</legend>
        <div class="clearfix">
        @Html.LabelFor(x=>x.EmailAddress)
        <div class="input">
        @Html.TextBoxFor(x => x.EmailAddress)
        </div>
        </div>
        <div class="clearfix">
        @Html.LabelFor(x => x.Password)
          <div class="input">
        @Html.PasswordFor(x => x.Password)
        </div>
        </div>
        <div class="clearfix input">
        <small>@Html.LabelFor(x => x.PersistentLogin)</small>
            @Html.CheckBoxFor(x => x.PersistentLogin)
        </div>
        <div class="clearfix">
        <input type="submit" value="Log in &raquo;" class="btn" /> 
        </div>
    </fieldset>
}


