@model Lettings.Web.Mvc.Controllers.ViewModels.AgentFatView

 
    <div >
        
        <div class="clearfix">
            <h1>@Model.Name</h1>
            @if(!string.IsNullOrEmpty(Model.PictureUrl))
            {
                <img src='@Model.PictureUrl' alt='@Model.Name' style="float:left;" />
            }

        </div>
        <div class="span-one-third column">
            <h3>Offices</h3>
            @foreach (var o in Model.Offices)
            {
                @o.Name
            }
        </div>
        <div class="span-one-third column">
            <h3>Users</h3>
            @foreach (var u in Model.Users)
            {
                <span>
                @u.FullName 
                </span>
                if (((Lettings.Domain.User)ViewBag.ExecutingUser).UserType == Lettings.Domain.UserType.admin)
                {
                    @Html.ActionLink("Impersonate user", "Impersonate", "Admin", new { @userId = u.Id }, new { @class = "btn" })
                }
            }
        </div>
    </div>

  